.logo{
    /* this below two attributes are responsible for placing the logo in middle of the page */
    display:block;
    margin: auto;
    height:50px;
    width:50px;
}

body{
    background-image: linear-gradient();
}

.container{
   max-width: 955px;
   background-color: rgb(82, 200, 235);
   margin:auto;
   height: 60vh;
   padding: 3px;
   overflow-y: scroll;
   margin-bottom: 23px;
}

.message{
    background-color: gray;
    width:24%;
    padding: 10px;
    margin: 17px 17px;
    border: 2px solid black;
    border-radius: 6px;
}

.left{
    float:left;
    clear:both;
}

.right{
    float:right;
    clear:both;
}

#send-container{
    display: block;
    margin:auto;
    text-align:center;
    max-width: 985px;
    width:100px;
}

#messageInp{
    width:92%;
    
}

.btn{
    cursor:pointer;
    border:2px solid black;
    border-radius: 6px;
    height:34px;
}

